.container {
  display: flex;
  background-color: #232323;
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: 1px;
}

.image {
  border-radius: 8px;
  max-width: 300px;
  margin-right: 30px;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.movieName {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  text-transform: uppercase;
}

.rating {
  font-size: 18px;
}

.releaseYear,
.duration {
  color: #f65261;
  font-size: 18px;
  margin-bottom: 5px;
}

.releaseYear {
  margin-right: 50px;
}

.detailsContainer {
  display: inline-flex;
}

.description {
  color: #787878;
  font-weight: 300;
  font-size: 20px;
  line-height: 24.38px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .image {
    margin-bottom: 20px;
  }
}
